{% extends 'base.html' %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Order Placed Successfully!</h4>
            <p>Your order has been successfully placed. Thank you for shopping with us!</p>
            <hr>
            
            

            <div class="text-center">
        <a href="{% url 'store' %}" class="btn btn-success">Shop more</a>
    </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}  